footer .container {
  text-align: center;
}

.footertext p,
.footertext h4,
.footertext li {
  color: white;
}

footer {
  width: 100%;
  bottom: 0;
  left: 0;
  padding-top: 3.5rem;
  background-color: rgb(2, 55, 112);
}

footer .blue {
  background-color: rgb(2, 55, 112);
}

footer .orange {
  background-color: rgb(201, 130, 0) 80%;
}

/* Resize footer wanneer het scherm smaller wordt, dit is nodig omdat er anders white space komt doordat de text in de footer de footer hoger maakt. */

@media (max-width: 525px) {
  footer {
    height: 40em;
  }
}

@media (max-width: 770px) {
  footer {
    height: 32em;
  }
}

@media (min-width: 990px) {
  footer {
    height: 20em;
  }
}
